  
  
  .mapWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    height: 95vh;
  }
  
  .logo {
    grid-column: 1;
    margin-top: 1em;
    padding-bottom: 20px;
  }
  
  ul {
    height: 5vh;
  }

  .logo img {
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    position: center;
    display: block;
  }
  
  #map {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    min-width: 500px;
    width: 100%;
    grid-column: 2/4;
    grid-row: 1; 
    
  }

  .userInput {
    margin-top: 10px;
    z-index: 2;
    margin-left: 200px;
    grid-column: 2/4;
    grid-row: 1; 
    height:120px;
    width:200px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
  }

  
  .center {
    margin-top: 3px;
    margin-bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .markerInfo {
    grid-column: 1;
    border: 10px solid #73B842;
    min-height: 100%;
  }
  
  .markerInfo p {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:auto;
  }

  #uid {
    visibility: hidden;
  }

  #rid {
    visibility: hidden;
  }


  #buttonCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #fsubmit {
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 250px;
    border: 3px solid #73B842;
    border-radius: 10px;
    color: white;
    background-color: #73B842;
    font-size: 1.2em;
    transition: background-color 3s; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #fsubmit:hover {
    background-color: #489113;
  }

  .anchorCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #link, #addReview, #viewReview {
    min-width: 250px;
    display:block; 
    border: 3px solid #73B842;
    border-radius: 10px;
    color: white;
    background-color: #73B842;
    font-size: 1.2em;
    transition: background-color 3s; 
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #link:hover, #addReview:hover, #viewReview:hover {
    display:block; 
    background-color: #489113;
    text-decoration: none;
  }


  