html,
body {
  height: 100%;
  margin: 0;
}

.cont {
  height: 100% !important;
  width: 100% !important;
  padding: 0;
  margin: 0 auto;
}

.searchBarContainer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  background-color: white;
  border-radius: 15px;
  width: 80%;
  position: center;
  min-height: 50%;
}

.logo {
  grid-row: 1/3;
  margin: auto;
}

.logo img {
  width: 50%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
  position: center;
  display: block;
}

.searchBar {
  margin-top: 2em;
  grid-row: 3;
  width: 80%;
  margin: auto;
  border-radius: 20px;
  border: 1px solid #000000;
}

form.searchBarInner input[type="text"] {
  font-size: 17px;
  float: left;
  width: 95%;
  background: transparent;
  border: none;
  outline: none;
}

/* Style the submit button */
form.searchBarInner button {
  float: left;
  width: 5%;
  color: black;
  background: transparent;
  font-size: 17px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border: none;
}

form.searchBarInner button:hover {
  color: #73b842;
}

/* Clear floats */
form.searchBarInner::after {
  content: "";
  clear: both;
  display: table;
}

.result {
  background: #e7f6e1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

.right-div {
  text-align: right;
}

.name {
  padding: 0;
  padding-bottom: 10px;
  margin: 0;
  font-weight: 700;
}

.description {
  padding-bottom: 20px;
}

.favorited {
  color: rgb(221, 194, 38);
}

.notfavorited {
  color: rgb(167, 167, 167);
}

form.favoriteFrom button {
  background: transparent;
  font-size: 40px;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  border: none;
  margin-bottom: 10px;
}

a.button-nav {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: white;
  background-color: #73b842;
  padding: 10px;
  border-radius: 5px;
  font-size: 14pt;
  margin-bottom: 10px;
}

a.button-nav2 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: white;
  background-color: #73b842;
  padding: 5px;
  border-radius: 5px;
  font-size: 10pt;
}
