<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/addUserLayout :: layout (~{::body},'addreview')}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/addreview.css" />
</head>
<body>
  <div class="cont">
    <div class="loginHeader">
      <img src="/images/logoAlt.png" alt="logo" />
    </div>

    <div class="container">
      <form  id="addreview-form" action="#" method="post" th:action="@{/addreview}" th:object="${review}" >

      <div class="item">
        <label class="userid">User ID</label><br />
        <input
        class="input-box"
          required
          type="text"
          maxlength="10"
          th:field="*{UserID}"
          placeholder="UserID"
          autocomplete="off"
        />
      </div>

      <div class="item">
        <label class="restaurantid">Restaurant ID</label><br />
        <input
        class="input-box"
          required
          type="text"
          maxlength="10"
          th:field="*{RestaurantID}"
          placeholder="RestaurantID"
          autocomplete="off"
        />
      </div>

      <div class="item">
        <label class="restaurant">Restaurant</label><br />
        <input
        class="input-box"
          required
          type="text"
          maxlength="50"
          th:field="*{Restaurant}"
          placeholder="Restaurant"
          autocomplete="off"
        />
      </div>

      <div class="item">
      <label>Full Name</label><br />
      <input
      class="input-box"
        required
        type="text"
        maxlength="50"
        th:field="*{FullName}"
        placeholder="Full Name"
        autocomplete="off"
      />
      </div>

      <div class="item">
        <label>Time</label><br />
        <input
        class="input-box"
          required
          type="text"
          maxlength="50"
          th:field="*{Time}"
          placeholder="Time"
          autocomplete="off"
        />
        </div>

      <div class="comment-box">
        <label>Comment</label><br />
        <textarea rows = "20" cols = "115" name = "review" th:field="*{Comment}" id = "comment">

        </textarea>
      </div>

      <div class="select-item">
        <label>Rating</label><br />
        <select class="input-box" required th:field="*{Rating}" name="Rating" id="rating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>

      <button class="blue-button" id="submit-button">Submit Review</button>
    </form>
  </div>
  </div>
</body>
</html>