<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'adduser')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New rectangle Form</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
    
  </head>
  <body>
    <div class="cont">
      <div class="loginHeader">
        <h1><img src="/images/logo_register.png" alt="logo" />Cravelt</h1>
    </div>
      <form 
        id="adduser-form"
        action="#"
        method="post"
        th:action="@{/adduser}"
        th:object="${user}"
      >
      <div class="item1">
        <label class="email">Email</label><br />
        <input
          required
          type="email"
          maxlength="50"
          th:field="*{Email}"
          placeholder="Email"
        />
      </div>
        <br />
        <div class="item1">
        <label>Username</label><br />
        <input
          required
          type="text"
          maxlength="50"
          th:field="*{UserName}"
          placeholder="Username"
        />
        </div>
        <br />
        <div class="item1">
        <label>Password</label><br />
        <input
          required
          id="password"
          type="password"
          minlength="8"
          maxlength="50"
          th:field="*{Password}"
          placeholder="Password"
        />
      </div>
        <br />
        <div class="item1">
        <label>Confirm Password</label><br />
        <input
          required
          id="confirmPassword"
          type="password"
          minlength="8"
          maxlength="50"
          placeholder="Confirm Password"
        />
      </div>
        <br />
        <div th:if="${error != null}">
          <span class="error"  th:text="${error}"></span>
       </div>
        <span id="passwordError" class="error visually-hidden">Password does not match</span>
        <div class="flex-container">
        <div class="item2">
        <label>Full Name</label><br />
        <input
          required
          type="text"
          maxlength="50"
          th:field="*{FullName}"
          placeholder="Full Name"
        />
      </div>
        <br />
        <div class="item3">
        <label>Phone</label><br />
        <input
          required
          type="text"
          maxlength="11"
          th:field="*{Phone}"
          placeholder="Phone"
        />
      </div>
        </div>
        <br />
        <div class="item1">
        <label>Address</label><br />
        <input
          required
          type="text"
          maxlength="255"
          th:field="*{Address}"
          placeholder="Address"
        />
      </div>
        <br />
        <div class="item1">
        <label>User Type</label><br />
        <select required th:field="*{UserType}" name="UserType" id="users">
          <option value="C">Customer</option>
          <option value="R">Restaurant Representative</option>
        </select>
      </div>
        <br />

        
      </form>
      <button class="blue-button" id="submit-button">Register</button></form>
    </div>
    <script src="/adduser.js"></script>
  </body>
  
  
</html>