<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/mapLayout :: layout (~{::body},'map')}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
</head>

<body th:onload="storeRestaurants([[${restaurants}]])">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCwuntRUPBHuV3QvQid630HLhUxWf0ykZw&callback=initMap&libraries=places&v=weekly"
        async>
        </script>
    <script src="/geolocation.js"></script>

    <div class="mapWrapper">
        <div class="markerInfo">
            <div class="logo">
                <img src="/images/logoAlt.png" alt="logo" />
            </div>

            <p id="name"></p>
            <p id="description"></p>
            <p id="start"></p>
            <p id="end"></p>
            <p id="cuisine"></p>
            <p id="email"></p>
            <p id="phone"></p>
            <p id="address"></p>
            <a id="link" href="/addreservation"></a>
        </div>





        <div class="userInput">
            <div class="center">
                <p>Enter your address for more accurate Position:</p>
            </div>
            <div class="center">
                <input id="inputAddress" type="text" value="40.714224,-73.961452" />
            </div>
            <div class="center">
                <input id="submit" type="button" value="Find my Location" />
            </div>
            
           
        </div>
        <div id="map" width="300" height="300"></div>

        

    </div>


</body>

</html>