<div class="bottom">
    <div class="reviews">
      <div class="reviewHeader">
        <img src="/images/user_review.png" class="reviewIcon" />
        <span class="reviewName"> John Doe </span>
        <img src="/images/5_stars.png" class="stars" />
      </div>
      <br class="reviewHeaderNameSpace" />
      <h1>Restaurant Name</h1>
      <br class="reviewNameBodySpace" />
      <div class="placeHolderText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta
        consectetur semper. Suspendisse accumsan nec purus at rutrum.
        Curabitur convallis venenatis massa at euismod. Maecenas vestibulum
        ipsum vitae semper pellentesque. Aliquam at elit arcu. Aliquam
        semper eu nibh interdum varius. Phasellus luctus erat vitae enim
        sodales semper. Donec mollis sem velit, vel consequat dolor
        porttitor vel. Ut aliquet augue non egestas maximus.
      </div>
    </div>

    <div class="reviews">
      <div class="reviewHeader">
        <img src="/images/user_review.png" class="reviewIcon" />
        <span class="reviewName"> John Doe </span>
        <img src="/images/5_stars.png" class="stars" />
      </div>
      <br class="reviewHeaderNameSpace" />
      <h1>Restaurant Name</h1>
      <br class="reviewNameBodySpace" />
      <div class="placeHolderText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta
        consectetur semper. Suspendisse accumsan nec purus at rutrum.
        Curabitur convallis venenatis massa at euismod. Maecenas vestibulum
        ipsum vitae semper pellentesque. Aliquam at elit arcu. Aliquam
        semper eu nibh interdum varius. Phasellus luctus erat vitae enim
        sodales semper. Donec mollis sem velit, vel consequat dolor
        porttitor vel. Ut aliquet augue non egestas maximus.
      </div>
    </div>

    <div class="reviews">
      <div class="reviewHeader">
        <img src="/images/user_review.png" class="reviewIcon" />
        <span class="reviewName"> John Doe </span>
        <img src="/images/5_stars.png" class="stars" />
      </div>
      <br class="reviewHeaderNameSpace" />
      <h1>Restaurant Name</h1>
      <br class="reviewNameBodySpace" />
      <div class="placeHolderText">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta
        consectetur semper. Suspendisse accumsan nec purus at rutrum.
        Curabitur convallis venenatis massa at euismod. Maecenas vestibulum
        ipsum vitae semper pellentesque. Aliquam at elit arcu. Aliquam
        semper eu nibh interdum varius. Phasellus luctus erat vitae enim
        sodales semper. Donec mollis sem velit, vel consequat dolor
        porttitor vel. Ut aliquet augue non egestas maximus.
      </div>
    </div>
