<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/searchResultLayout :: layout (~{::body},'searchResult')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>

  <body>
    <div class="cont">
      <div class="top">
        

        <div class="searchBarContainer">
          <div class="logo">
            <img src="/images/logoAlt.png" alt="logo" />
          </div>

          <div class="searchBar">
            <form
              action="#"
              method="post"
              th:action="@{/search}"
              th:object="${search}"
              class="searchBarInner"
            >
              <input type="text" placeholder="Search.." th:field="*{Param}" />
              <button type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>

         
        </div>
      </div>
      <div class="result" th:each="record : ${records}">
        <div>
          <h3 class="name" th:text="${record.Name}"></h3>
          <p th:text="'Cuisine: ' + ${record.Cuisine}"></p>
          <p  class="description"  th:text=" ${record.Description}"></p>
             <p  th:text="'Phone: ' + ${record.Phone}"></p>
            <p th:text="'Address: ' + ${record.Address}"></p>
              <p th:text="'Email: ' + ${record.Email}"></p>
          </div>
          <div class="right-div">
            <p th:text="${record.StartTime} + ' - ' + ${record.EndTime}"></p>
            <form
              action="#"
              method="post"
              th:action="@{/searchFavorite}+'/'+${record.ID}"
              th:object="${search}"
              class="favoriteFrom"
              th:if="${userType == 'C'}"
            >
              <input type="hidden" th:field="*{Param}" />
              <button th:if="${record.Favorite == 1}" type="submit"><i class="fa fa-star favorited"></i></button>
              <button th:if="${record.Favorite == 0}" type="submit"><i class="fa fa-star notfavorited"></i></button>
            </form>
            <div th:if="${userType == 'C'}">
            <a th:href="'/addreservation/'+${record.ID}" class="button-nav">Make Reservation</a>
            <br>
            <a th:href="'/addreview/'+${record.ID}" class="button-nav2">Review</a>
          </div>
          </div>
        </div>

      

    
    <script src="/searchResult.js"></script>
  </body>
</html>
