<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'updateUserInfo')}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
</head>

<body class="updateUserInfoBody">
    <div class="updateUserFormContainer" th:switch="${selector}">
        <!--change name-->
        <form class="updateUserForm" action="#" method="post" th:case="'FullName'" th:action="@{/updateUserInfo/{selector}}" th:object="${user}">
            <div class="centerUpdateUserItems">
                <label>Please enter your new name:</label><br />
            </div>
            <div class="centerUpdateUserItems">
                <input required type="text" th:field="*{FullName}" placeholder="FullName" autocomplete="off" /><br>
            </div>
            <div class="centerUpdateUserItems">
                <input class="updateUserBtn" type="submit" value="Submit" />
            </div>
        </form>
        <!--change pass-->
        <form class="updateUserForm" action="#" method="post" th:case="'UserName'" th:action="@{/updateUserInfo/{selector}}" th:object="${user}">
            <div class="centerUpdateUserItems">
                <label>Please enter your new password:</label><br />
            </div>
            <div class="centerUpdateUserItems">
                <input required type="text" th:field="*{Password}" placeholder="password" autocomplete="off" /><br />
            </div>
            <div class="centerUpdateUserItems">
                <input class="updateUserBtn" type="submit" value="Submit" />
            </div>
        </form>
        <!--change email-->
        <form class="updateUserForm" action="#" method="post" th:case="'Email'" th:action="@{/updateUserInfo/{selector}}" th:object="${user}">
            <div class="centerUpdateUserItems">
                <label>Please enter your new email:</label><br />
            </div>
            <div class="centerUpdateUserItems">
                <input required type="text" th:field="*{Email}" placeholder="email" autocomplete="off" /><br />
            </div>
            <div class="centerUpdateUserItems">
                <input class="updateUserBtn" type="submit" value="Submit" />
            </div>
        </form>
        <!--change address-->
        <form class="updateUserForm" action="#" method="post" th:case="'Address'" th:action="@{/updateUserInfo/{selector}}" th:object="${user}">
            <div class="centerUpdateUserItems">
                <label>Please enter your new address:</label><br />
            </div>
            <div class="centerUpdateUserItems">
                <input required type="text" th:field="*{Address}" placeholder="address" autocomplete="off" /><br />
            </div>
            <div class="centerUpdateUserItems">
                <input class="updateUserBtn" type="submit" value="Submit" />
            </div>
        </form>
    </div>
   
   
</body>

</html>