<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{fragments/userHomeLayout :: layout (~{::body},'userHome')}"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
  </head>

  <body>
    <div class="container">
      <div class="top">
        <div th:if="${userID >= 0}" class="dropdown">
          <input
            type="image"
            onclick="myFunction()"
            src="/images/userIcon.png"
            th:if="${userType == 'C'}"
            class="dropbtn"
          />
          <input
            type="image"
            onclick="myFunction()"
            src="/images/ownerIcon.png"
            th:if="${userType == 'R'}"
            class="dropbtn"
          />
          <div id="myDropdown" class="dropdown-content">
            <a href="/userInfo">Edit Profile</a>
            <a th:href="@{/addrestaurant}" th:if="${userType == 'R'}"
              >Add Restaurant</a
            >
            <a href="/logout">LogOut</a>
          </div>
        </div>

        <div class="searchBarContainer">
          <div class="logo">
            <img src="/images/logoAlt.png" alt="logo" />
          </div>

          <div class="searchBar">
            <input type="text" />
          </div>

          <div class="items">
            <a class="searchBarItems" th:href="@{/addreservation}"
              >Reservations</a
            >
            <a class="searchBarItems" href="/map">Map</a>
            <a class="searchBarItems" href="#" th:if="${userType == 'C'}"
              >Favorites</a
            >
            <a class="searchBarItems" href="#">Reviews</a>
            <a class="searchBarItems" href="#" th:if="${userType == 'C'}"
              >Discover</a
            >
          </div>
        </div>
      </div>

      <div class="middle">
        <a th:if="${userName == ''}" href="/login">Login</a>
        <span th:if="${userName != ''}">Welcome, </span
        ><span th:text="${userName}"></span>
      </div>

      <div class="bottom">
        <div class="reviews">
          <div class="reviewHeader">
            <img src="/images/user_review.png" class="reviewIcon" />
            <span class="reviewName"> John Doe </span>
            <img src="/images/5_stars.png" class="stars" />
          </div>
          <br class="reviewHeaderNameSpace" />
          <h1>Restaurant Name</h1>
          <br class="reviewNameBodySpace" />
          <div class="placeHolderText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta
            consectetur semper. Suspendisse accumsan nec purus at rutrum.
            Curabitur convallis venenatis massa at euismod. Maecenas vestibulum
            ipsum vitae semper pellentesque. Aliquam at elit arcu. Aliquam
            semper eu nibh interdum varius. Phasellus luctus erat vitae enim
            sodales semper. Donec mollis sem velit, vel consequat dolor
            porttitor vel. Ut aliquet augue non egestas maximus.
          </div>
        </div>

        <div class="reviews">
          <div class="reviewHeader">
            <img src="/images/user_review.png" class="reviewIcon" />
            <span class="reviewName"> John Doe </span>
            <img src="/images/5_stars.png" class="stars" />
          </div>
          <br class="reviewHeaderNameSpace" />
          <h1>Restaurant Name</h1>
          <br class="reviewNameBodySpace" />
          <div class="placeHolderText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta
            consectetur semper. Suspendisse accumsan nec purus at rutrum.
            Curabitur convallis venenatis massa at euismod. Maecenas vestibulum
            ipsum vitae semper pellentesque. Aliquam at elit arcu. Aliquam
            semper eu nibh interdum varius. Phasellus luctus erat vitae enim
            sodales semper. Donec mollis sem velit, vel consequat dolor
            porttitor vel. Ut aliquet augue non egestas maximus.
          </div>
        </div>

        <div class="reviews">
          <div class="reviewHeader">
            <img src="/images/user_review.png" class="reviewIcon" />
            <span class="reviewName"> John Doe </span>
            <img src="/images/5_stars.png" class="stars" />
          </div>
          <br class="reviewHeaderNameSpace" />
          <h1>Restaurant Name</h1>
          <br class="reviewNameBodySpace" />
          <div class="placeHolderText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porta
            consectetur semper. Suspendisse accumsan nec purus at rutrum.
            Curabitur convallis venenatis massa at euismod. Maecenas vestibulum
            ipsum vitae semper pellentesque. Aliquam at elit arcu. Aliquam
            semper eu nibh interdum varius. Phasellus luctus erat vitae enim
            sodales semper. Donec mollis sem velit, vel consequat dolor
            porttitor vel. Ut aliquet augue non egestas maximus.
          </div>
        </div>
      </div>
    </div>

    <a href="/userInfo">My Info</a>
    <script src="/userHome.js"></script>
  </body>
</html>
