<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/userLayout :: layout (~{::body},'userViewSetting')}">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User</title>
</head>

<body>
    <div id="wrapper">


        <p>Welcome </p>
        <p th:text="${uName}"></p>

        <p>My Info:</p>
        <div>
            <p class="inline">Username: </p>
            <p class="inline" th:text="${uName}"></p>
        </div>


        <div>
            <p class="inline">Full name: </p>
            <p class="inline" th:text="${name}"></p><a th:href="@{'/changeInfo/' + ${id} + '/1'}">Change full name</a>
        </div>

        <div>
            <p class="inline">Password: </p>
            <p class="inline" th:text="${pass}"></p><a th:href="@{'/changeInfo/' + ${id} + '/2'}">Change password</a>
        </div>

        <div>
            <p class="inline">Email: </p>
            <p class="inline" th:text="${email}"></p><a th:href="@{'/changeInfo/' + ${id} + '/3'}">Change email</a>
        </div>

        <div>
            <p class="inline">Address: </p>
            <p class="inline" th:text="${addr}"></p><a th:href="@{'/changeInfo/' + ${id} + '/4'}">Change address</a>
        </div>

        <div>
            <p class="inline">userType: </p>
            <p class="inline" th:text="${userType}"></p>
        </div>
    </div>

</body>

</html>